.navbar-container {
  transition: all ease-in 0.5s;
  position: fixed;
  z-index: 6;
  width: 100%;
  max-width: 1550px;
  color: rgba(255, 255, 255, 0.9);
}
.navbar-container .navbar {
  display: flex;
  position: absolute;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0;
  width: 100%;
}
.navbar-container .navbar .navbar-logo {
  margin-left: 2.5em;
  display: flex;
  padding: 5px;
  align-items: center;
}
.navbar-container .navbar .navbar-logo img {
  width: 7em;
}
.navbar-container .navbar .navbar-right {
  width: 55%;
  align-items: center;
}
.navbar-container .navbar .navbar-right .navbar-right-links {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
.navbar-container .navbar .navbar-right .navbar-right-links li {
  display: flex;
  align-items: center;
}
.navbar-container .navbar .navbar-right .navbar-right-links li:hover {
  color: white;
  cursor: pointer;
}
.navbar-container .navbar .navbar-right .navbar-right-links li .navbar-icon {
  font-size: 1.6em;
}
@media screen and (max-width: 600px) {
  .navbar-container .navbar .navbar-right .navbar-right-links {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navbar-container .navbar .navbar-right {
    display: none;
  }
}
.navbar-container .navbar .navbar-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.navbar-container .navbar .navbar-mobile .navbar-icon {
  font-size: 5rem;
  margin-right: 25px;
}
.navbar-container .navbar .navbar-mobile #menu-left {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}
.navbar-container .navbar .navbar-mobile #menu-right {
  transform: rotate(0);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .navbar-container .navbar .navbar-mobile {
    display: flex;
  }
}
.navbar-container .navbar_sticky {
  background-color: black;
  transition: all ease-in-out 0.4s;
  padding: 10px 0 10px 0;
  position: fixed;
  top: 0;
}
.navbar-container .navbar_absolute {
  background-color: transparent;
  transition: all ease-in-out 0.4s;
  padding: 0;
}
.navbar-container .navbar-mobile-show {
  display: flex;
  background-color: black;
  height: 105vh;
  transform: translateX(0%);
  transition: all 0.3s ease-in-out;
}
.navbar-container .navbar-mobile-hide {
  display: flex;
  background-color: black;
  height: 100vh;
  transform: translateX(-200%);
  transition: all 0.5s ease-in-out;
}
.navbar-container .mobile-nav {
  position: absolute;
  width: 80%;
  margin-top: -30px;
}
@media screen and (max-width: 600px) {
  .navbar-container .mobile-nav .navbar-mobile-show {
    display: flex;
  }
}
.navbar-container .mobile-nav .navbar-mobile-links {
  color: rgb(215, 215, 215);
  font-size: 3rem;
  margin-bottom: 1000px;
  justify-content: flex-start;
  padding: 0;
  margin-left: 25px;
  width: 90%;
}
.navbar-container .mobile-nav .navbar-mobile-links li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 20px;
  border: 2px solid transparent;
}
.navbar-container .mobile-nav .navbar-mobile-links li:hover {
  color: white;
  background-color: grey;
  border-radius: 10px;
  border: 2px solid white;
}
.navbar-container .mobile-nav .navbar-mobile-links li .navbar-icon {
  font-size: 4rem;
  margin-right: 10px;
}
.navbar-container .mobile-nav .navbar-mobile-links li span {
  padding: 0;
}
@media screen and (min-width: 600px) {
  .navbar-container .mobile-nav {
    display: none;
  }
}

@keyframes slideInout {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=navbar.css.map */